<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/customerTemplate/customerlayout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Profile</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css">

</head>
<body>
<section layout:fragment="content" class="content-wrapper">

    <div class="content " >
        <!-- Main content -->
        <div class="container">
            <div class="row">
                <div class="col-12" >
                        <h5 style="margin: 20px">Manage Your Booking!</h5>
                    <br>
                    <table
                            class="display table table-striped table-bordered dt-responsive nowrap dtr-inline collapsed "
                            style="position: relative;width: 100%;margin: 10px" aria-describedby="example-info">

                        <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Event Date</th>
                            <th>Booking Date</th>
                            <th>Order Status</th>
                            <th>Payment</th>
                            <th>Action:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c:${list}">
                            <td th:text="${c.getId()}"></td>
                            <td th:text="${c.getTimeHappen()}"></td>
                            <td th:text="${c.getOrderDate()}"></td>
                            <td th:text="${c.getOrderStatus()}"></td>
                            <td th:if="${c.getOrderStatus().equalsIgnoreCase(refundSt)}" th:data-money="${c.getOrderTotal() != null ? c.getOrderTotal() * 0.1 : null}"></td>
                            <td th:if="${c.getOrderStatus().equalsIgnoreCase(completedSt)}" th:data-money="${c.getOrderTotal()}"></td>
                            <td th:unless="${c.getOrderStatus().equalsIgnoreCase(refundSt) or c.getOrderStatus().equalsIgnoreCase(completedSt)}" th:data-money="${c.getOrderTotal() != null ? c.getOrderTotal() * 0.4 : null}" ></td>
                            <td>
                                <form th:action="@{/customers/orders/myorder/order-detail}" method="post">
                                <input hidden="hidden" name="orderId" th:value="${c.getId()}" >
                                <button type="submit" class="btn btn-success">Order Detail</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!--                           -->


            </div>
        </div>
    </div>
    <br/>
    <br/>
</section>
<section layout:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
    <!-- Page specific script -->
    <script>

        $(document).ready(function () {
            $('table.display').DataTable();
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
        //format

        const elements=document.querySelectorAll('[data-money]');
        elements.forEach((element) => {
            const moneyValue = parseFloat(element.dataset.money);
            const formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
                useGrouping: true,
            });
            const formattedAmount = formatter.format(moneyValue);
            element.textContent = formattedAmount;
        });
    </script>
<script th:inline="javascript">

    var message = [[${alertMessage}]];
    var error = [[${alertError}]];
    console.log(error);
    console.log(message);
    if(message!=null && message.length != 0)
    {
        swal({
            title: "Message!",
            text: message,
            icon: "success",
        });

    }
     else if(error!=null && error.length != 0)
    {
        swal({
            title: "Error!",
            text: error,
            icon: "error",
        });
    }



</script>
</section>
</body>
</html>
