<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminTemplate/adminlayout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">


    <section layout:fragment="content">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>DataTables</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">DataTables</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Employees</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table
                                            class="display table table-striped table-bordered dt-responsive nowrap dtr-inline collapsed "
                                            style="width:100%" aria-describedby="example-info">
                                        <a th:href="@{/staff/employees/create}" class="btn btn-outline-primary float-right">
                                            Create
                                        </a>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Join Date</th>
                                            <th>Salary</th>
                                            <th>Team</th>
                                            <th>Account</th>
                                            <th>Detail</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="c:${employeeList}">
                                            <td th:text="${c.name}"></td>
                                            <td th:text="${c.address}"></td>
                                            <td th:text="${c.phone}"></td>
                                            <td th:text="${c.joinDate}"></td>
                                            <td th:text="${c.salary}"></td>
                                            <td th:text="${c.organizeTeamsByTeamId.teamName}"></td>
                                            <th:block th:if="${c.employeeAccountsById.isEmpty()}">
                                                <td>
                                                    <button type="button" class="btn btn-outline-primary "
                                                            data-toggle="modal"
                                                            data-target="#createAccountModal" data-whatever="@mdo">
                                                        Create Account
                                                    </button>
                                                </td>
                                            </th:block>
                                            <th:block th:unless="${c.employeeAccountsById.size()==0}">
                                                <th:block th:each="a:${c.employeeAccountsById}">
                                                    <td th:text="${a.getUsername()}"></td>
                                                </th:block>
                                            </th:block>

                                            <td>
                                                <button type="button" class="btn btn-outline-primary float-right"
                                                        data-toggle="modal"
                                                        data-target="#updateEmployeeModal"
                                                        th:attr="data-updateemployee=${c.getId()}
                                                        ,data-employeename=${c.getName()}
                                                        ,data-employeeaddress=${c.getAddress()}
                                                        ,data-employeephone=${c.getPhone()}
                                                        ,data-employeedate=${c.getJoinDate()}
                                                        ,data-employeesalary=${c.getSalary()}
                                                        ,data-employeeemail=${c.getEmail()}
                                                        ,data-employeeteam=${c.getOrganizeTeamsByTeamId().getId()}
                                                        ,data-employeeavatar=${c.getAvatar()}"
                                                >Update
                                                </button>
                                                <a th:href="@{/staff/admin/employee/delete/{empId}(empId=${c.getId()})}"
                                                   class="btn btn-outline-primary float-right"
                                                   style="margin-right: 1rem">Delete</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Organize Team</h3>
                                        </div>
                                        <div class="card-body">
                                            <table
                                                    class="display table table-striped table-bordered dt-responsive nowrap dtr-inline collapsed "
                                                    style="width:100%" aria-describedby="example-info">
                                                <button type="button" class="btn btn-outline-primary float-right"
                                                        data-toggle="modal"
                                                        data-target="#createTeamModal">Create
                                                </button>
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Order</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="i:${teamList}">
                                                    <td th:text="${i.teamName}"></td>
                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-outline-primary float-right"
                                                                data-toggle="modal"
                                                                data-target="#updateTeamModal"
                                                                th:attr="data-updateteam=${i.getId()}"
                                                                th:attrappend="data-teamname=${i.getTeamName()}"
                                                        >
                                                            Update
                                                        </button>
                                                        <a th:href="@{/staff/teams/delete/{teamId}(teamId=${i.getId()})}"
                                                           class="btn btn-outline-primary float-right"
                                                           style="margin-right: 1rem">Delete</a>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!--create employee Modal-->
        <div class="modal fade" id="createEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">



                    </div>

                </div>
            </div>
        </div>
        <!--create organize team Modal-->
        <div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Team</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/staff/teams/create}">
                            <div class="form-group">
                                <label class="col-form-label">Team name:</label>
                                <input type="text" class="form-control" name="teamName" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                                <input type="submit" class="btn btn-primary" value="Update">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--update employee Modal-->
        <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/staff/employees/update}" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="text" id="id-employee-update" name="id">
                                    <label class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" name="name" id="empname" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Address:</label>
                                    <input type="text" class="form-control" name="address" id="empaddress" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Email:</label>
                                    <input type="text" class="form-control" name="email" id="empemail" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Phone:</label>
                                    <input type="text" class="form-control" name="phone" required id="empphone">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Join date:</label>
                                    <input type="date" class="form-control" name="joinDate" required id="empdate">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Salary:</label>
                                    <input type="text" class="form-control" name="salary" required id="empsalary">
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="col-form-label" for="empteam">Team:</label>
                                    <select name="teamId" id="empteam" class="form-control">
                                        <th:block th:each="c:${teamList}">
                                            <option th:value="${c.getId()}" th:text="${c.getTeamName()}"></option>
                                        </th:block>
                                    </select>

                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-form-label">Avatar:</label>
                                    <input type="file" class="form-control" name="employee-update-pic" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" id="empavatar">
                                </div>
                                <div class="modal-footer col-md-12">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                    <input type="submit" class="btn btn-primary" value="Update">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--update team Modal-->
        <div class="modal fade" id="updateTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Team</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/staff/teams/update}">
                            <div class="form-group">
                                <input type="text" id="id-team-update" name="id">
                                <label class="col-form-label">Team name:</label>
                                <input type="text" class="form-control" name="teamName" id="team-name-update" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                                <input type="submit" class="btn btn-primary" value="Update">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--                End create modal-->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </section>
</div>
<!-- ./wrapper -->
<section layout:fragment="optional">
    <script>
        $(document).ready(function () {
            $('table.display').DataTable();
        });
        $('#updateEmployeeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('updateemployee') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var name = button.data('employeename')
            var address = button.data('employeeaddress')
            var phone = button.data('employeephone')
            var date = button.data('employeedate')
            var salary = button.data('employeesalary')
            var email = button.data('employeeemail')
            var teamId = button.data('employeeteam')
            var avatar = button.data('employeeavatar')
            $('#id-employee-update').val(recipient)
            $('#empname').val(name)
            $('#empaddress').val(address)
            $('#empphone').val(phone)
            $('#empdate').val(date)
            $('#empsalary').val(salary)
            $('#empemail').val(email)
            $('#empteam').each(function () {
                $(this).val(teamId); // Lấy giá trị của option hiện tại

            });
            $('#empavatar').val(avatar)
        })
        $('#updateTeamModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('updateteam') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var teamName = button.data('teamname')
            $('#id-team-update').val(recipient)
            $('#team-name-update').val(teamName)
        })

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
    <!-- Page specific script -->

</section>
</body>
</html>
