<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminTemplate/adminlayout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">


    <section layout:fragment="content">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Employees</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/staff/dashboard">Home</a></li>
                                <li class="breadcrumb-item active"><a href="/staff/employees/getAll">Employees</a></li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
<!--                               -->
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <input type="hidden" id="token" th:value="${token}">
                                    <table
                                            class="display table table-striped table-bordered dt-responsive nowrap dtr-inline collapsed "
                                            style="width:100%" aria-describedby="example-info">
                                        <a th:href="@{/staff/employees/create}" class="btn btn-outline-primary float-right">
                                            Create
                                        </a>
                                        <thead>
                                        <tr>
                                            <th style="display: none">ID</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Team</th>
                                            <th>Type</th>
                                            <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                                <th>Detail</th>
                                            </th:block>
                                            <th>Email</th>
                                            <th>Join Date</th>
                                            <th>Salary</th>



                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="c:${employeeList}">
                                                <input class="employee-id" type="hidden" th:attr="data-empid=${c.id}" th:value="${c.id}">
                                            <td th:text="${c.id}"></td>
                                            <td th:text="${c.name}"></td>
                                            <td th:text="${c.address}"></td>
                                            <td th:text="${c.phone}"></td>

                                            <td th:text="${c.organizeTeamsByTeamId.teamName}"></td>.

                                            <th:block th:if="${c.organizeTeamsByTeamId.teamName.equals('TEAM ADMINISTRATOR')}">
                                                <td th:text="SALER"></td>
                                            </th:block>

                                            <th:block th:unless="${c.organizeTeamsByTeamId.teamName.equals('TEAM ADMINISTRATOR')}">
                                                <td th:text="ORGANIZER"></td>
                                            </th:block>


                                            <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                                <td>
                                                    <a th:href="@{/staff/employees/update/{empId}(empId=${c.getId()})}" class=" btn btn-outline-primary ">
                                                        Update
                                                    </a>

                                                        <button class="btn btn-outline-primary btnDeleteEmp">Delete</button>

                                                </td>
                                            </th:block>
                                            <td th:text="${c.email}"></td>
                                            <td th:text="${c.joinDate}"></td>
                                            <td th:text="${c.salary}"></td>


                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </section>
</div>
<!-- ./wrapper -->
<section layout:fragment="optional">



    <script>
        var domain = "http://localhost:9999"
        var api_delete_emp = domain + "/staff/employees/delete/";
        $(document).ready(function () {

            $('table.display').DataTable();
            $('.btnDeleteEmp').on('click',function (event) {
                let emp_id = $(this).closest('tr').find('.employee-id').data('empid');
                var token = $("#token").val();

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            type: "POST",
                            url: api_delete_emp + emp_id,
                            dataType: "json",
                            contentType: "application/json",
                            headers: {
                                "Authorization": "Bearer " + token
                            },
                            data: { },
                            success: function(response) {
                                console.log(response);
                                if(response.statusCode == 200){
                                    Swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                    )
                                    window.location.href = '/staff/employees/getAll';
                                }
                                // Do something with the response data
                            },
                            error: function(xhr, textStatus, errorThrown) {
                                console.log(xhr.responseText);
                                // Handle error
                            }
                        });

                    }
                })
            })
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
    <!-- Page specific script -->

</section>
</body>
</html>
