<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/adminTemplate/adminlayout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shift Management</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/css/khangform.css">
  <link rel="stylesheet" href="/css/khangadminorder.css">
</head>
<body>



<section layout:fragment="content"  class="content-wrapper">

  <br><div class="content-header"> <h5>Shift Management</h5>


</div>
  <div class="content ">
    <!-- Main content -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-container">
            <form class="form" th:action="@{/staff/teams/shift-manage/search}" th:method="post">
              <div class="combobox">
                <label for="year">Year:</label>
                <select id="year" name="year">
                  <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                </select>
              </div>
              <div class="combobox">
                <label for="month">Month:</label>
                <select id="month" name="month">
                  <option th:each="month : ${months}" th:value="${month.ordinal() + 1}" th:text="${month}"></option>
                </select>
              </div>
              <div class="buttons">
                <input type="submit" class="submit" value="Search">

                <a class="btn btn-success btn-all" th:href="@{/staff/teams/shift-manage}">This Month</a>
              </div>
            </form>
          </div>

          <table
                  class="display table table-striped table-bordered dt-responsive nowrap dtr-inline collapsed "
                  style="position: relative;width: 100%;" aria-describedby="example-info">
            <thead>
            <tr>
              <th>Team Name</th>
              <th>Team Leader</th>
              <th>Number of Member</th>
              <th>Number of Shift in Month</th>
              <th>Number of Upcoming Shift </th>
              <th>Detail not completed shift</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${list}">
              <td th:text="${c.getTeamName()}"></td>
              <td th:text="${c.getTeamLeader()}"></td>
              <td th:text="${c.getTeamsize()}"></td>
              <td th:text="${c.getNumberOfShift()}"></td>
              <td th:text="${c.getNumberOfUpcomingShift()}"></td>
              <td> <form th:action="@{/staff/teams/shift-by-team}" method="post">
                <input hidden="hidden" name="teamId" th:value="${c.getId()}" >
                <input hidden="hidden" name="choosenMonth" th:value="${chosenMonth}">
                <input hidden="hidden" name="choosenYear" th:value="${chosenYear}">
                <button type="submit" class="btn btn-success">See all confirm shift</button>
              </form></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content -->

  <!-- /.content-wrapper -->
  <!--create employee Modal-->

  <!--create organize team Modal-->

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <br/>
  <br/>
</section>

<!-- ./wrapper -->
<section layout:fragment="optional">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
  <!-- Page specific script -->
  <script>
    $(document).ready(function () {
      $('table.display').DataTable();
    });
  </script>
  </script>
  <script th:inline="javascript">


    var error = [[${alertError}]];
    var message = [[${alertMessage}]];
    console.log(message);

    if(message!=null && message.length != 0)
    {
      swal({
        title: "Message!",
        text: message,
        icon: "success",
      });

    }
    else if(error!=null && error.length != 0)
    {
      swal({
        title: "Error!",
        text: error,
        icon: "error",
      });
    }
  </script>
</section>
</body>
</html>
