<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/adminTemplate/adminlayout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Tabbed IFrames</title>
  <link href="">
</head>
<body>
  <section layout:fragment="content">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- AREA CHART -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title" id="revenueYear"></h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="revenueYearChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>

              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title"> Three-Month Order Status Overview Chart</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="orderCount3MonthChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <input type="hidden" id="token" th:value="${token}">

    </div>






  </section>
</body>

<section layout:fragment="optional">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    let token = $('#token').val();
    let currentYear = (new Date()).getFullYear()
    // console.log(currentYear)
    let DOMAIN_APP_API = "http://localhost:9999";
    let api_getRevenueByYear = DOMAIN_APP_API + "/staff/revenues/getRevenueByYear/";
    let api_getOrderCount3Month = DOMAIN_APP_API + "/staff/revenues/getOrderCount3Month/";

    $(function(){



      loadRevenueByYear(currentYear);
      loadOrderIn3Month(currentYear);

      function loadRevenueByYear(currentYear){
        console.log(currentYear)

        $.ajax({
          type: "GET",
          url: api_getRevenueByYear + currentYear,
          dataType: "json",
          contentType: "application/json",
          headers: {
            "Authorization": "Bearer " + token
          },
          data: { },
          success: function(response) {
            if(response.statusCode == 200){
              $("#revenueYear").text("Monthly Revenue Report for " + currentYear)
              const monthsArray = [];
              const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
              const revenueInYearArray = [];

              response.message['revenueMonthList'].map(item => {
                const monthName = monthNames[item.month - 1];
                revenueInYearArray.push(item.revenueInMonth);
                monthsArray.push(monthName);
              });

              const ctx = document.getElementById('revenueYearChart').getContext('2d');

              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: monthsArray, //month
                  datasets: [{
                    label: 'Revenue',
                    data: revenueInYearArray, //revenue
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });


            }
            // Do something with the response data
          },
          error: function(xhr, textStatus, errorThrown) {
            // Handle error
          }
        });
      }

      function loadOrderIn3Month(currentYear){
        console.log(currentYear)

        $.ajax({
          type: "GET",
          url: api_getOrderCount3Month + currentYear,
          dataType: "json",
          contentType: "application/json",
          headers: {
            "Authorization": "Bearer " + token
          },
          data: { },
          success: function(response) {
            console.log(response);
            if(response.statusCode == 200){
              $("#revenueYear").text("Monthly Revenue Report for " + currentYear)
              const monthsArray = [];
              const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
              // const orderComplete = response.message['totalOrderCompleted']
              // const orderRefund = response.message['totalOrderRefund']
              // const orderCancel = response.message['totalOrderCancel']
              // const orderUnComplete = response.message['totalOrderUncompleted']

              const orderComplete = []
              const orderRefund = []
              const orderCancel = []
              const orderUnComplete = []
              const orderIn3Month = [];

              response.message['orderIn3Month'].map(item => {
                const monthName = monthNames[item.month - 1];
                monthsArray.push(monthName);
                orderComplete.push(item.countOrderCompleted)
                orderRefund.push(item.countOrderRefund)
                orderCancel.push(item.countOrderCancel)
                orderUnComplete.push(item.countOrderUnCompleted)
              });

              const ctx1 = document.getElementById('orderCount3MonthChart').getContext('2d');
              new Chart(ctx1, {
                type: 'bar',
                data: {
                  labels: monthsArray, //month
                  datasets: [{
                    label: 'Order Completed',
                    data: orderComplete, //revenue
                    borderWidth: 1
                  },
                    {
                      label: 'Order Refund',
                      data: orderRefund, //revenue
                      borderWidth: 1
                    },
                    {
                      label: 'Order Cancel',
                      data: orderCancel, //revenue
                      borderWidth: 1
                    },
                    {
                      label: 'Order Uncompleted',
                      data: orderUnComplete, //revenue
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  scales: {
                    y: {
                      ticks: {
                        precision: 0
                      }
                    }
                  }
                }
              });


            }
            // Do something with the response data
          },
          error: function(xhr, textStatus, errorThrown) {
            // Handle error
          }
        });
      }

    });

  </script>
</section>
</html>
