<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/adminTemplate/adminlayout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Order Detail</title>
  <link rel="stylesheet" href="/css/khangstyleadmin.css">

</head>
<body>
<section layout:fragment="content"  class="content-wrapper">


  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Create</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">create</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Order Detail</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form th:action="@{/staff/services/update-service}" th:object="${serviceDTO}" method="post" class="form-horizontal">

            <div class="card-body">

              <div class="form-group row">
                <label for="serviceName" class="col-sm-2 col-form-label">Service Name</label>
                <div class="col-sm-10">
                  <input type="text" th:value="${serviceDTO.getId()}" th:field="*{id}"  readonly class="form-control" id="id" placeholder="Service Name">

                </div>
              </div>
              <div class="form-group row">
                <label for="serviceName" class="col-sm-2 col-form-label">Service Name</label>
                <div class="col-sm-10">
                  <input type="text" th:value="${serviceDTO.getServiceName()}" th:field="*{serviceName}" class="form-control" id="serviceName" placeholder="Service Name">
                  <span class="text-danger" th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}">Invalid Service Name</span>
                </div>
              </div>
              <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                  <input type="number" th:value="${serviceDTO.getPrice()}" th:field="*{price}" class="form-control" id="price" placeholder="">
                  <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Invalid Price</span>

                </div>
              </div>

              <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-8">
                  <input type="text" id="description"  class="form-control" th:value="${serviceDTO.getDescription()}" th:field="*{description}" >
                  <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Invalid Price</span>
                </div>

              </div>
              <div class="card-footer">
                <button  type="submit" class="btn btn-info">Update Service</button>
                <a th:href="@{/staff/services/showall}" class="btn btn-default float-right">Back</a>
              </div>
            </div>
            <!-- /.card-footer -->
          </form>
        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- ./row -->
    <!--modal-->


    <!-- ./row -->
  </section>
  <!-- /.content -->

  <!-- /.content-wrapper -->



</section>

<!-- ./wrapper -->
<section layout:fragment="optional">
  <script>$('#myModal').on('shown.bs.modal', function () {

  })</script>
</section>
</body>
</html>
