<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body>

  <section layout:fragment="content">
      <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
              <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                  <div class="col-md-9 ftco-animate pb-5">
                      <h1 class="mb-3 bread">About Us</h1>
                      <p class="breadcrumbs"><span class="mr-2"><a href="home.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
                  </div>
              </div>
          </div>
      </section>

      <section class="ftco-section ftco-no-pt ftco-no-pb">
          <div class="container">
              <div class="row no-gutters">
                  <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/about.jpg);">
                  </div>
                  <div class="col-md-7 wrap-about py-md-5 ftco-animate">
                      <div class="heading-section mb-5 pt-5 pl-md-5">
                          <div class="pr-md-5 mr-md-5">
                              <h2 class="mb-4">What is all about us?</h2>
                          </div>
                          <p>The KTK wedding restaurant management website is an online platform that provides a comprehensive management solution for restaurants and wedding venues. The website offers features such as table reservation management, event booking management, order management, employee management, inventory management, and financial reporting. With this website, restaurants and wedding venues can easily manage their business operations and enhance their competitiveness in the market. Additionally, customers can use the website to conveniently and quickly make table reservations and event bookings. The website is designed to be user-friendly, with an intuitive interface that makes management and ordering simple and easy.</p>

                      </div>
                  </div>
              </div>
          </div>
      </section>

  </section>
  <section layout:fragment="optional">
      <script></script>
  </section>
  </body>
</html>