<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body>

  <section layout:fragment="content">
      <div class="container mt-5 mb-5">
          <div class="text-center">
              <h2>Forgot Password</h2>
          </div>

          <div th:if="${errorMessage != null}">
              <p class="text-danger">[[${error}]]</p>
          </div>
<!--          <div th:if="${message != null}">-->
<!--              <p class="text-warning">[[${message}]]</p>-->
<!--          </div>-->

          <form th:action="@{/customer/forgot_password}" method="post" style="max-width: 440px; margin: 0 auto;">
              <div class="border border-secondary rounded p-3">
                  <div>
                      <p>We will be sending a reset password link to your email.</p>
                  </div>
                  <div>
                      <p>
                          <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                      </p>
                      <p class="text-center">
                          <input type="submit" value="Send" class="btn btn-primary" />
                      </p>
                  </div>
              </div>
          </form>

      </div>
  </section>


  </body>
</html>