<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <body>

  <section layout:fragment="content">
      <div class="container mt-5 mb-5">
          <div class="text-center">
              <h2>Forgot Password</h2>
          </div>



          <form th:action="@{/forgot_password}" method="post" style="max-width: 440px; margin: 0 auto;">
              <div class="border border-secondary rounded p-3">

                  <div th:if="${message != null}">
                      <p class="text-warning" th:text="${message}"></p>
                  </div>
                  <div th:if="${errorMessage != null}" th:else>
                      <p class="text-warning" th:text="${errorMessage}"></p>
                  </div>
                  <div th:if="${messages == null && errorMessage == null}" th:else>
                      <p>We will be sending a reset password link to your email.</p>
                  </div>


                  <div>
                      <p>
                          <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                      </p>
                      <p class="text-center">
                          <input type="submit" value="Send" class="btn btn-primary" />
                      </p>
                  </div>
              </div>
          </form>

      </div>
  </section>


  </body>
</html>