<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .myimg{
            width:100%;
            height: 200px;
            padding-top: 2px;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="hero-wrap"  data-stellar-background-ratio="0.5">
        <video width="100%" id="myVideo" autoplay mute loop src="/video/weddingvideo.mp4"></video>
    </div>

    <section class="ftco-section services-section bg-primary">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-placeholder"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Venue</h3>
                            <p>	590, CMT8 St, ward 11, District 3, Ho Chi Minh City, Viet Nam</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-hotel"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Hotel</h3>
                            <p>Our hotel offers comfortable accommodations and exceptional amenities for a relaxing and enjoyable stay.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-cooking"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Restaurant</h3>
                            <p>Our restaurant serves delicious cuisine prepared with fresh, locally sourced ingredients in a warm and inviting atmosphere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/video/wedding.jpg);">
                </div>
                <div class="col-md-7 wrap-about py-md-5 ftco-animate">
                    <div class="heading-section mb-5 pt-5 pl-md-5">
                        <div class="pr-md-5 mr-md-5">
                            <h2 class="mb-4">What is all about us?</h2>
                        </div>

                        <p> At our wedding venue rental service, we understand that finding the perfect location for your special day is crucial. That's why we offer a range of beautiful and versatile venues that can be customized to suit your unique style and vision.</p>
                        <p>Our venues are equipped with all the necessary amenities to ensure a seamless and stress-free wedding day, including ample seating, lighting, sound systems, and catering facilities. Whether you're planning an intimate gathering or a grand celebration, our venues can accommodate weddings of all sizes and styles.
                        </p>
                        <p>Our experienced team of event planners will work with you every step of the way to create a personalized and memorable wedding experience. From the initial consultation to the day of your event, we will be there to ensure that every detail is perfect and that your wedding day is everything you've dreamed of.</p>
                        <p>At our wedding venue rental service, we are committed to providing exceptional value and service, so you can relax and enjoy your special day with your loved ones. Contact us today to learn more about our venues and services, and start planning the wedding of your dreams.</p>
                        <p><a href="#" class="btn btn-primary">Join now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--//venue-->
    <section class="ftco-section ftco-gallery">
        <div class="container-fluid px-4">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-3">Venue Gallery</h2>
                </div>
            </div>
            <div  class="row" >
                <div  th:each="v:${venuesImages}" class="col-md-3 ftco-animate ">
                    <a th:href="@{/customers/orders}" >
                        <img class="gallery image-popup img d-flex align-items-center myimg" th:src="'data:image/png;base64,'+ ${v.getUrl()}" />
                    </a>
                </div>
            </div>
        </div>
    </section>

<!--// food imamge-->
    <section class="ftco-section testimony-section ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-3">Restaurant Menu</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl" >
                        <div th:each="f:${foodList}" class="item">
                            <div  class="testimony-wrap text-center py-4 pb-5">
                                <th:block th:if="${not #lists.isEmpty(f.getFoodImagesById())}" class="user-img mb-4" >
                                    <img class="myimg"  th:src="'data:image/png;base64,'+ ${f.getFoodImagesById()[0].getUrl()}">
                                </th:block>
                                <div class="text pt-4">
                                    <p class="mb-4"th:text="${f.getDescription()}"></p>
                                    <p class="name"th:text="${f.getFoodName()}"></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--Customer feed back-->
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2>Recent Blog</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_1.jpg');">
                        </a>
                        <div class="text pt-4">
                            <div class="meta mb-3">
                                <div><a href="#">July. 14, 2019</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_2.jpg');">
                        </a>
                        <div class="text pt-4">
                            <div class="meta mb-3">
                                <div><a href="#">July. 14, 2019</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_3.jpg');">
                        </a>
                        <div class="text pt-4">
                            <div class="meta mb-3">
                                <div><a href="#">July. 14, 2019</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

<section layout:fragment="optional">

    <script>
        var myVideo = document.getElementById("myVideo");
        window.addEventListener('load', function() {

            myVideo.play();
        });
    </script>
    <script th:inline="javascript">

        var message = [[${alertMessage}]];
        var error = [[${alertError}]];
        console.log(error);
        console.log(message);
        if(message!=null && message.length != 0)
        {
            swal({
                title: "Message!",
                text: message,
                icon: "success",
            });

        }
        else if(error!=null && error.length != 0)
        {
            swal({
                title: "Error!",
                text: error,
                icon: "error",
            });
        }



    </script>

</section>

</body>
</html>