<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
      <section layout:fragment="optional">
        <link rel="stylesheet" href="/fonts/icomoon/style.css">
        <link rel="stylesheet" href="/css/login.css">
      </script>

    </section>

    <title>Login #7</title>
  </head>
  <body>
  
  <section layout:fragment="content">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <h3>Sign In</h3>
                  <div th:if="${message}">
                    <p th:text="${message}" style="color: green;"></p>
                  </div>
                </div>
<!--                FORM LOGIN-->

                <form th:action="@{/login}" th:object="${loginDTO}" method="post">
                  <div class="form-group first">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{username}" class="form-control" id="username">

                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password">
                  </div>

                  <div th:if="${errorMessage}">
                    <p th:text="${errorMessage}" style="color: red;"></p>
                  </div>

                  <div class="d-flex mb-5 align-items-center">
                    <a style="color: #1162fb" th:href="@{/register}">Create new account</a>
                    <span class="ml-auto"><a th:href="@{/forgot_password}" class="forgot-pass">Forgot Password</a></span>
                  </div>
                  <input type="submit" value="Log In" class="btn btn-block btn-primary">
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </section>
  
  </body>
</html>