<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Order Page</title>
  <link rel="stylesheet" href="/css/khangstyle.css">

</head>
<body>
<section layout:fragment="content">

<div class="flex">
    <div id="app" class="app"></div>
  <div id="venue" class="venue">
    <div id="card-container">

    </div>

    </div>
  </div>
</div>


</section>
<section layout:fragment="optional">
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/plugin/weekday.min.js"></script>

  <script src="/js/khangcalendar.js" > </script>
<!--  <script>-->
<!--    const calendar = new KhangCalendar(document.getElementById("app"));-->
<!--    calendar.render();-->
<!--  </script>-->
</section>
</body>


</html>
