<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

	<section layout:fragment="optional">
		<!-- Font-->
		<link rel="stylesheet" type="text/css" href="/css/register/montserrat-font.css">
		<link rel="stylesheet" type="text/css" href="/css/register/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		<!-- Main Style Css -->
		<link rel="stylesheet" href="/css/register/register.css"/>
	</section>
</head>
<body>
<section layout:fragment="content">
	<div class="form-v10">
		<div class="page-content">
			<div class="form-v10-content">
				<form class="form-detail" th:action="@{/customer/register}" method="post" id="myform" th:object="${registerCustomerDTO}">
					<div class="form-left">
						<h2>Account Infomation</h2>
						<div class="form-group">
							<div class="form-row form-row-3">
								<input type="text" th:field="*{username}" class="business" placeholder="Username" required>
							</div>
							<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
						</div>

						<div class="form-group">
							<div class="form-row form-row-3">
								<input type="password" th:field="*{password}" class="business" placeholder="Password" required>
								<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

							</div>
						</div>
					</div>

					<div class="form-right">
						<h2>Contact Details</h2>

						<div class="form-group">
							<div class="form-row form-row-1">
								<input type="text" th:field="*{firstname}" class="input-text" placeholder="First Name" required>
								<div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>

							</div>
							<div class="form-row form-row-2">
								<input type="text" th:field="*{lastname}" class="input-text" placeholder="Last Name" required>
								<div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>

							</div>
						</div>


						<div class="form-row">
							<input type="text" th:field="*{address}" class="street"  placeholder="Address" required>
							<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>

						</div>


						<div class="form-group">
							<div class="form-row form-row-1">
								<select th:field="*{gender}">
									<option value="" disabled>Gender</option>
									<option th:value="Male" th:text="Male"></option>
									<option th:value="Female" th:text="Female">Female</option>
									<option th:value="Other" th:text="Other">Other</option>
								</select>
								<span class="select-btn">
						  			<i class="zmdi zmdi-chevron-down"></i>
								</span>
							</div>
							<div class="form-row form-row-2">
								<input type="text"  class="phone" th:field="*{phone}" pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b" placeholder="Phone Number" required>
								<div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

							</div>
						</div>
						<div class="form-row">
							<input type="text" th:field="*{email}" class="input-text" required pattern="[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Your Email">
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

						</div>
						<div class="form-checkbox">
							<label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
								<input type="checkbox" name="checkbox">
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="form-row-last">
							<input type="submit" name="register" class="register" value="Register">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
</body>
</html>